@import '../../assets/variables';

.footer,
.footer ul,
.footer-logo-wrapper,
.first-half,
.second-half {
    display: flex;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    min-height: 40px;
    left: 0;
    justify-content: space-between;
    width: 100%;
    background-color: #000000;

    ul {
        width: 100%;
        list-style: none;
    }

    a,
    .copyright {
        font-size: 0.7rem;
        text-decoration: none;
        color: $menu-item-text-color;

        &:hover {
            color: $menu-item-hover-color;
        }
    }
    li {
        margin: 0 0.5rem;
    }

    .footer-logo {
        color: $menu-item-text-color;
    }
}

.footer-logo-wrapper {
    flex: 1 1 50%;
    justify-content: flex-end;
    margin-right: 1rem;
    gap: 2rem;
}

.first-half,
.second-half {
    width: 100%;
    margin: 0 1rem;
    gap: 2rem;
}

@media (max-width: 768px) {
    .first-half,
    .second-half {
        flex: 1;
        flex-direction: column;
        gap: 0.2rem;
        align-items: flex-start;
        padding: 1rem;
    }

    .footer {
        position: inherit;
        flex-direction: column;
        gap: 1rem 0;
        padding: 0;
    }

    .footer ul {
        flex-direction: row;
        width: 100%;
    }

    .footer-logo {
        display: none;
    }

    .copyright {
        order: 1;
        margin-bottom: 1rem;
    }
}
